Repository boostcampwm-2021/WEB17-LiarKing, pull requests merged in 2021-11, with the labels that each got.

#13 1일차 프론트 작업 merge
  .gitignore
  .prettierrc.json
  front-end/.env
  front-end/README.md
  front-end/public/index.html
  front-end/src/App.css
  front-end/src/App.tsx
  front-end/src/components/JoinButton.tsx
  front-end/src/components/LoginButton.tsx
  front-end/src/components/Main.tsx
  front-end/src/components/NoLoginButton.tsx
  front-end/src/images/main.png
  front-end/src/images/mainChar1.svg
  front-end/src/images/mainChar2.svg
  front-end/src/index.tsx
  front-end/src/logo.svg
  front-end/src/styles/App.css
  front-end/src/styles/JoinButton.css
  front-end/src/styles/LoginButton.css
  front-end/src/styles/Main.css
  front-end/src/styles/NoLoginButton.css
  front-end/src/styles/index.css
  front-end/tsconfig.json
Labels: front-end

#14 1일차 백엔드 작업 merge
  back-end/package-lock.json
  back-end/package.json
  back-end/src/entity/User.ts
  back-end/src/index.ts
  back-end/src/routes/index.ts
  back-end/src/routes/userRoute.ts
  back-end/src/service/userService.ts
  back-end/src/store/store.ts
Labels: back-end

#16 [PR] API 명세 및 코드 수정
  .gitignore
  README.md
  back-end/package-lock.json
  back-end/package.json
  back-end/src/index.ts
  back-end/src/routes/index.ts
  back-end/src/routes/userRoute.ts
  back-end/src/service/commonService.ts
  back-end/src/service/userService.ts
  front-end/package.json
  front-end/src/components/JoinButton.tsx
  front-end/src/components/LoginButton.tsx
  front-end/src/components/NoLoginButton.tsx
  front-end/src/styles/JoinButton.css
  front-end/src/styles/LoginButton.css
  front-end/src/styles/NoLoginButton.css
Labels: back-end

#18 <update>:<form tag -> fetch 비동기 서버 요청 방식 변경>
  front-end/package.json
  front-end/src/components/JoinButton.tsx
  front-end/src/components/LoginButton.tsx
  front-end/src/components/NoLoginButton.tsx
  front-end/src/styles/LoginButton.css
  front-end/src/styles/NoLoginButton.css
Labels: front-end

#21 <feature>:<modal창 제작>
  front-end/src/App.tsx
  front-end/src/components/Main.tsx
  front-end/src/components/Modal.tsx
  front-end/src/images/alert.svg
  front-end/src/images/error.svg
  front-end/src/images/warning.svg
  front-end/src/styles/Modal.css
Labels: front-end

#25 <update>:<모달창 전역컨텍스트 관리로 변경>
  front-end/src/App.tsx
  front-end/src/components/Main.tsx
Labels: front-end

#27 Front#check user data
  front-end/src/App.tsx
  front-end/src/components/JoinButton.tsx
  front-end/src/components/LoginButton.tsx
  front-end/src/components/Main.tsx
  front-end/src/components/NoLoginButton.tsx
  front-end/src/styles/JoinButton.css
  front-end/src/styles/LoginButton.css
  front-end/src/styles/Modal.css
  front-end/src/styles/NoLoginButton.css
Labels: front-end

#28 <feature>:<유저데이터 로비페이지 전송>
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/JoinButton.tsx
  front-end/src/components/Lobby.tsx
  front-end/src/components/LoginButton.tsx
  front-end/src/components/NoLoginButton.tsx
Labels: front-end

#29 Front
  .github/workflows/CD.yml
  README.md
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/JoinButton.tsx
  front-end/src/components/Lobby.tsx
  front-end/src/components/LobbyButtons.tsx
  front-end/src/components/LoginButton.tsx
  front-end/src/components/Main.tsx
  front-end/src/components/Modal.tsx
  front-end/src/components/NoLoginButton.tsx
  front-end/src/components/Profile.tsx
  front-end/src/components/RoomList.tsx
  front-end/src/images/Lobby.png
  front-end/src/images/alert.svg
  front-end/src/images/error.svg
  front-end/src/images/warning.svg
  front-end/src/styles/JoinButton.css
  front-end/src/styles/Lobby.css
  front-end/src/styles/LoginButton.css
  front-end/src/styles/Modal.css
  front-end/src/styles/NoLoginButton.css
Labels: front-end

#35 Front#socket client
  front-end/package-lock.json
  front-end/package.json
  front-end/src/components/Lobby.tsx
  front-end/src/components/Profile.tsx
  front-end/src/components/RoomList.tsx
Labels: front-end

#37 <update>:<방생성 소켓연동>
  front-end/src/App.tsx
  front-end/src/components/CreateRoomModal.tsx
  front-end/src/components/Lobby.tsx
  front-end/src/components/LobbyButtons.tsx
  front-end/src/components/RoomList.tsx
Labels: front-end

#38 Front
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/CreateRoomModal.tsx
  front-end/src/components/Lobby.tsx
  front-end/src/components/LobbyButtons.tsx
  front-end/src/components/Profile.tsx
  front-end/src/components/RoomList.tsx
  front-end/src/images/downArrow.svg
  front-end/src/images/upArrow.svg
  front-end/src/styles/App.css
  front-end/src/styles/CreateRoomModal.css
  front-end/src/styles/Transition.css
Labels: front-end

#40 <bug>:<서버-클라이언트 소켓연동>
  back-end/src/index.ts
  front-end/src/components/Lobby.tsx
  front-end/src/components/RoomList.tsx
Labels: bug

#45 <bug>:<cors 에러 업데이트>
  back-end/src/index.ts
  front-end/.env.development
  front-end/.env.production
  front-end/src/App.tsx
Labels: bug

#50 <bug>:<모달창 버그 수정>
  front-end/src/components/Main.tsx
Labels: bug

#54 [PR] Back#test
  .gitignore
  README.md
  back-end/jest.config.js
  back-end/package-lock.json
  back-end/package.json
  back-end/src/database/connection.ts
  back-end/src/database/entity/User.ts
  back-end/src/database/repository/UserRepository.ts
  back-end/src/database/service/loginService.ts
  back-end/src/database/service/userService.ts
  back-end/src/index.ts
  back-end/src/route/indexRouter.ts
  back-end/src/route/userRouter.ts
  back-end/src/tests/indexRouter.test.ts
  back-end/src/tests/loginService.test.ts
  back-end/src/utils/socket.ts
  back-end/tsconfig.json
  front-end/src/App.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/Profile.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Error.tsx
  front-end/src/components/pages/Lobby.tsx
  front-end/src/components/pages/Main.tsx
  front-end/src/components/public/Modal.tsx
Labels: back-end, refactoring

#61 front-end 컴포넌트 src 경로 수정
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/Profile.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Lobby.tsx
  front-end/src/components/pages/Main.tsx
  front-end/src/components/public/Modal.tsx
Labels: bug

#62 랭킹 기능 구현하기
  .gitignore
  README.md
  back-end/jest.config.js
  back-end/src/database/service/userService.ts
  back-end/src/index.ts
  back-end/src/route/userRouter.ts
  back-end/src/tests/indexRouter.test.ts
  back-end/src/tests/jest.setup.ts
  back-end/src/tests/loginService.test.ts
  back-end/src/tests/userService.test.ts
  front-end/src/components/Lobby/CreateRankModal.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/styles/CreateRankModal.css
Labels: front-end, back-end

#63 랭킹 기능 버그 수정
  back-end/src/database/service/userService.ts
Labels: bug

#64 페이지 넘김 기능 구현
  front-end/src/components/Lobby/ExplainRuleModal.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/images/leftArrow.svg
  front-end/src/images/rightArrow.svg
  front-end/src/images/ruleFour.svg
  front-end/src/images/ruleOne.svg
  front-end/src/images/ruleThree.svg
  front-end/src/images/ruleTwo.svg
  front-end/src/styles/ExplainRuleModal.css
  front-end/src/styles/Lobby.css
Labels: front-end

#70 게임 방 UI 제작 완료
  front-end/public/word/라이어.svg
  front-end/public/word/사과.svg
  front-end/src/App.tsx
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Game/GameContent.tsx
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Game/GameContentLiar.tsx
  front-end/src/components/Game/GameContentResult.tsx
  front-end/src/components/Game/GameContentSelect.tsx
  front-end/src/components/Game/GameContentVote.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/images/exit.svg
  front-end/src/images/game.png
  front-end/src/images/sendMsg.svg
  front-end/src/styles/Game.css
Labels: front-end

#71 유저 정보세션 가져오기
  back-end/src/route/userRouter.ts
  front-end/src/App.tsx
  front-end/src/components/Lobby/Profile.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/utils/getDataUtil.ts
Labels: front-end, back-end, refactoring

#73 방 입장하기 구현
  back-end/src/store/store.ts
  back-end/src/utils/socket.ts
  front-end/src/App.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/pages/Game.tsx
Labels: front-end, back-end

#75 [etc] 게임 방 UI 소폭 수정 및 클라이언트 타입 지정 (any 삭제)
  back-end/src/utils/socket.ts
  front-end/src/components/Lobby/CreateRankModal.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/ExplainRuleModal.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/Lobby/SearchRoomModal.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/components/pages/Lobby.tsx
  front-end/src/styles/Game.css
  front-end/src/styles/Lobby.css
Labels: front-end

#76 recoil 사용하기
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/Profile.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/Lobby/SearchRoomModal.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/components/pages/Lobby.tsx
  front-end/src/components/public/Modal.tsx
  front-end/src/index.tsx
  front-end/src/recoilStore/globalAtom.tsx
  front-end/src/utils/getDataUtil.ts
  front-end/src/utils/setModal.tsx
Labels: front-end

#84 로그아웃 & 방 나가기
  back-end/src/route/indexRouter.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/components/pages/Lobby.tsx
  front-end/src/styles/Lobby.css
Labels: front-end, back-end

#85 로비 / 게임 페이지 구현 내용 배포
  back-end/src/route/indexRouter.ts
  back-end/src/route/userRouter.ts
  back-end/src/store/store.ts
  back-end/src/utils/socket.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/package-lock.json
  front-end/package.json
  front-end/public/word/라이어.svg
  front-end/public/word/사과.svg
  front-end/src/App.tsx
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Game/GameContent.tsx
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Game/GameContentLiar.tsx
  front-end/src/components/Game/GameContentResult.tsx
  front-end/src/components/Game/GameContentSelect.tsx
  front-end/src/components/Game/GameContentVote.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/Lobby/CreateRankModal.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/ExplainRuleModal.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/Profile.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/Lobby/SearchRoomModal.tsx
  front-end/src/components/Lobby/VerifyPasswordModal.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/components/pages/Lobby.tsx
  front-end/src/components/public/Modal.tsx
  front-end/src/images/exit.svg
  front-end/src/images/game.png
  front-end/src/images/sendMsg.svg
  front-end/src/index.tsx
  front-end/src/recoilStore/globalAtom.tsx
  front-end/src/styles/Game.css
  front-end/src/styles/Lobby.css
  front-end/src/utils/getDataUtil.ts
  front-end/src/utils/setModal.tsx
Labels: front-end, back-end, refactoring

#86 로그아웃 수정
  back-end/src/route/indexRouter.ts
  front-end/src/components/pages/Lobby.tsx
Labels: bug

#88 로그인 케이스 추가 구현, 유저정보 가져오기 예외처리
  back-end/src/database/service/loginService.ts
  back-end/src/database/service/userService.ts
  back-end/src/route/indexRouter.ts
  back-end/src/route/userRouter.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/pages/Game.tsx
Labels: front-end, back-end

#90 디스커넥트 처리
  back-end/src/store/store.ts
  back-end/src/utils/socket.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/components/pages/Lobby.tsx
Labels: back-end

#93 게임방 페이지 렌더링 수정
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/public/word/라이어.svg
  front-end/public/word/사과.svg
  front-end/src/components/Game/GameContentSelect.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/components/pages/Lobby.tsx
Labels: front-end, refactoring

#98 [etc] 채팅 디자인, 게임방 모달창 위치 수정
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/styles/Game.css
Labels: front-end

#103 코드 리팩토링 작업 수행
  front-end/src/components/Game/GameContent.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/Lobby/SearchRoomModal.tsx
  front-end/src/components/Lobby/VerifyPasswordModal.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/components/pages/Lobby.tsx
  front-end/src/components/public/Modal.tsx
  front-end/src/recoilStore/globalSelector.tsx
  front-end/src/styles/Modal.css
  front-end/src/utils/setModal.tsx
Labels: front-end, back-end, refactoring

#104 [update] 클라이언트 코드 any 삭제
  front-end/src/components/Game/GameContent.tsx
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/pages/Lobby.tsx
  front-end/src/components/public/Modal.tsx
  front-end/src/recoilStore/globalSelector.tsx
Labels: front-end

#115 게임 시작 전 준비상태 확인
  back-end/src/store/store.ts
  back-end/src/utils/socket.ts
  back-end/src/utils/socket/gameRoom.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Game/GameContent.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/styles/Game.css
Labels: front-end, back-end

#116 게임방 설정 모달창 기능 구현
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Game/GameRoomSettings.tsx
  front-end/src/recoilStore/globalAtom.tsx
  front-end/src/styles/Game.css
  front-end/src/styles/GameRoomSettings.css
Labels: front-end

#117 게임방 설정 모달창 오류 수정
  front-end/src/components/Game/GameButtons.tsx
Labels: front-end

#118 게임 방 코드 리펙토링 및 기능업데이트 수행
  back-end/src/utils/socket/gameRoom.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Game/GameContent.tsx
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/recoilStore/globalSelector.tsx
  front-end/src/styles/Game.css
  front-end/src/styles/Modal.css
Labels: front-end, back-end, refactoring

#121 게임시작 버튼 클릭시 단어선정
  back-end/package-lock.json
  back-end/package.json
  back-end/src/database/entity/Word.ts
  back-end/src/database/repository/WordRepository.ts
  back-end/src/database/seeds/word.seed.json
  back-end/src/database/seeds/word.seed.ts
  back-end/src/database/service/wordService.ts
  back-end/src/store/store.ts
  back-end/src/utils/shuffle.ts
  back-end/src/utils/socket/gameRoom.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Game/GameContent.tsx
  front-end/src/components/Game/GameContentSelect.tsx
  front-end/src/components/pages/Game.tsx
Labels: front-end, back-end

#123 게임방 대기 상태 채팅 기능 구현
  back-end/src/store/store.ts
  back-end/src/utils/socket/gameRoomChat.ts
  front-end/package-lock.json
  front-end/package.json
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/Game/GameRoomSettings.tsx
  front-end/src/styles/CreateRankModal.css
  front-end/src/styles/CreateRoomModal.css
  front-end/src/styles/ExplainRuleModal.css
  front-end/src/styles/Game.css
  front-end/src/styles/GameChatBox.css
  front-end/src/styles/GameRoomSettings.css
  front-end/src/styles/JoinButton.css
  front-end/src/styles/LoginButton.css
  front-end/src/styles/NoLoginButton.css
  front-end/src/styles/SearchRoomModal.css
  package-lock.json
  package.json
Labels: front-end, back-end

#125 ormconfig.json 파일이 없는 오류 방지
  back-end/ormconfig.js
  back-end/ormconfig.json
  back-end/src/store/store.ts
  front-end/src/components/Game/GameChatBox.tsx
Labels: back-end

#126 투표 기능 병합
  back-end/src/utils/socket.ts
  back-end/src/utils/socket/gameRoomVote.ts
  front-end/src/components/Game/GameContent.tsx
  front-end/src/components/Game/GameContentVote.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/Game/store.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/images/voteBox.svg
  front-end/src/styles/Game.css
Labels: front-end, back-end

#127 게임방 대기 상태에서 채팅을 치면 3초간 띄워준다
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/styles/Game.css
  front-end/src/styles/GameChatBox.css
Labels: front-end

#128 rtc 연동
  .gitignore
  back-end/.env.example
  back-end/package-lock.json
  back-end/src/index.ts
  back-end/src/tests/indexRouter.test.ts
  back-end/src/tests/userService.test.ts
  back-end/src/utils/socket.ts
  back-end/src/utils/socket/gameRoomTalk.ts
  front-end/public/index.html
  front-end/src/App.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/Game/GameTalk.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/utils/constants.ts
Labels: front-end, back-end

#129 라이어선정 및 단어 띄우기 구현
  back-end/src/store/store.ts
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/pages/Game.tsx
Labels: front-end, back-end

#132 채팅 장면으로 넘어가기 기능
  back-end/src/store/store.ts
  back-end/src/utils/socket/gameRoom.ts
  back-end/src/utils/socket/gameRoomChat.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/pages/Game.tsx
Labels: front-end, back-end

#135 로비 페이지 재디자인 수정2
  front-end/src/styles/LightBulb.css
Labels: front-end

#137 채팅장면 후 투표장면 전환기능 추가
  back-end/src/utils/socket/gameRoomChat.ts
  back-end/src/utils/socket/gameRoomVote.ts
  front-end/src/components/pages/Game.tsx
  front-end/src/styles/CreateRankModal.css
  front-end/src/styles/CreateRoomModal.css
  front-end/src/styles/ExplainRuleModal.css
  front-end/src/styles/SearchRoomModal.css
Labels: front-end, back-end, refactoring

#138 로비페이지 전구 버그 수정
  front-end/src/components/Lobby/LightBulb.tsx
  front-end/src/recoilStore/globalAtom.tsx
  front-end/src/styles/LightBulb.css
  front-end/src/styles/Lobby.css
Labels: front-end

#141 한글 아이디 허용
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
Labels: front-end

#142 로비 모달 fade-in keyframes 추가
  front-end/src/styles/Lobby.css
Labels: front-end

#146 로비 전구 꺼진 화면에서 눈 깜빡임을 표시
  front-end/src/components/Lobby/LightBulb.tsx
  front-end/src/images/Lobby.png
  front-end/src/images/blinkingEyes.gif
  front-end/src/images/images.jpg
  front-end/src/styles/Game.css
  front-end/src/styles/LightBulb.css
Labels: front-end

#148 [bug] 게임 대기 상태 채팅창 버튼 위치 수정
  front-end/src/components/pages/Game.tsx
  front-end/src/styles/Game.css
Labels: front-end

#165 카드 애니메이션 추가
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/Lobby/SearchRoomModal.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Lobby.tsx
  front-end/src/images/exit2.svg
  front-end/src/images/exit3.svg
  front-end/src/images/refresh.svg
  front-end/src/styles/Game.css
  front-end/src/styles/GameChatBox.css
  front-end/src/styles/Lobby.css
Labels: front-end

#164 소켓, 코드 분리작업 수행
  back-end/src/store/store.ts
  back-end/src/utils/socket/gameRoom.ts
  back-end/src/utils/socket/lobbyRoom.ts
  back-end/src/utils/timer.ts
  front-end/src/App.tsx
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/components/Game/GameContent.tsx
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Game/GameContentLiar.tsx
  front-end/src/components/Game/GameContentResult.tsx
  front-end/src/components/Game/GameContentSelect.tsx
  front-end/src/components/Game/GameContentVote.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/Lobby/VerifyPasswordModal.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/components/pages/Lobby.tsx
  front-end/src/styles/Game.css
  front-end/src/utils/socketUtil.ts
Labels: front-end, back-end, refactoring

#168 소켓 서버 불필요 코드 삭제
  back-end/src/utils/socket/gameRoomChat.ts
  front-end/src/components/Game/GameContentChat.tsx
Labels: front-end, back-end

#169 데이터베이스 단어 시드 추가 및 로직변경
  back-end/src/database/seeds/word.seed.json
  back-end/src/database/seeds/word.seed.ts
Labels: back-end

#171 말풍선 꼬리 잘리는 버그 수정
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/styles/GameChatBox.css
Labels: front-end

#174 게임시 이미지버그 수정
  back-end/src/utils/disconnectData.ts
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/components/Game/GameContentSelect.tsx
  front-end/src/images/questionMark.svg
Labels: bug, front-end, back-end

#175 게임 종료 시 게임 결과 발표 및 로그인 유저 DB 점수 업데이트
  back-end/src/database/service/userService.ts
  back-end/src/route/userRouter.ts
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/components/Game/GameContentResult.tsx
  front-end/src/utils/socketUtil.ts
Labels: front-end, back-end

#177 게임 투표기능 추가
  back-end/src/utils/socket/gameRoom.ts
  back-end/src/utils/socket/gameRoomVote.ts
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/components/Game/GameContentVote.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/recoilStore/globalAtom.tsx
  front-end/src/utils/socketUtil.ts
  front-end/src/utils/store.tsx
  front-end/src/utils/timer.ts
Labels: front-end, back-end

#179 vote-result 모달 간 merge 충돌 해결
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/components/Game/GameContentResult.tsx
  front-end/src/utils/socketUtil.ts
Labels: front-end, back-end

#182 점수 업데이트 버그, CreateRoomModal 세팅값 개선
  front-end/src/components/Game/GameContentResult.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
Labels: front-end

#185 라이어 단어고르기 추가
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/components/Game/GameContentLiar.tsx
  front-end/src/components/Game/GameContentVote.tsx
  front-end/src/components/Game/GameRoomSettings.tsx
  front-end/src/utils/socketUtil.ts
Labels: front-end, back-end

#186 클라이언트 버그 해결
  back-end/src/store/store.ts
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/Game/GameRoomSettings.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/styles/Lobby.css
Labels: front-end

#189 게임 방 결과 창 연결 및 디자인 수정
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/components/Game/GameContentResult.tsx
  front-end/src/styles/Game.css
Labels: front-end, back-end

#192 투표 시 버그 수정
  back-end/src/utils/socket/gameRoom.ts
  back-end/src/utils/socket/gameRoomTalk.ts
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/styles/Game.css
Labels: front-end, back-end

#195 음성 코드 리팩토링
  back-end/src/utils/socket/gameRoom.ts
  back-end/src/utils/socket/gameRoomTalk.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/src/components/Game/GameTalk.tsx
  front-end/src/components/Game/GameTalkAudio.tsx
Labels: refactoring

#197 게임 음성 발언 중 채팅에 ellipsis 속성 부여
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/styles/Game.css
Labels: front-end

#200 로비, 게임 페이지 텍스트 처리
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/styles/Game.css
  front-end/src/styles/Lobby.css
Labels: front-end

#201 week 5 중간 버전 배포
  README.md
  back-end/package-lock.json
  back-end/package.json
  back-end/src/database/seeds/word.seed.json
  back-end/src/database/seeds/word.seed.ts
  back-end/src/database/service/userService.ts
  back-end/src/index.ts
  back-end/src/route/userRouter.ts
  back-end/src/store/store.ts
  back-end/src/utils/disconnectData.ts
  back-end/src/utils/shuffle.ts
  back-end/src/utils/socket/gameRoom.ts
  back-end/src/utils/socket/gameRoomChat.ts
  back-end/src/utils/socket/gameRoomTalk.ts
  back-end/src/utils/socket/gameRoomVote.ts
  back-end/src/utils/socket/lobbyRoom.ts
  back-end/src/utils/timer.ts
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/components/Game/GameContent.tsx
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Game/GameContentLiar.tsx
  front-end/src/components/Game/GameContentResult.tsx
  front-end/src/components/Game/GameContentSelect.tsx
  front-end/src/components/Game/GameContentVote.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/Game/GameRoomSettings.tsx
  front-end/src/components/Game/GameTalk.tsx
  front-end/src/components/Game/GameTalkAudio.tsx
  front-end/src/components/Game/store.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/LobbyButtons.tsx
  front-end/src/components/Lobby/Profile.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/Lobby/SearchRoomModal.tsx
  front-end/src/components/Lobby/VerifyPasswordModal.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/components/pages/Lobby.tsx
  front-end/src/images/exit2.svg
  front-end/src/images/exit3.svg
  front-end/src/images/questionMark.svg
  front-end/src/images/refresh.svg
  front-end/src/recoilStore/globalAtom.tsx
  front-end/src/styles/Game.css
  front-end/src/styles/GameChatBox.css
  front-end/src/styles/Lobby.css
  front-end/src/utils/socketMsgConstants.ts
  front-end/src/utils/socketUtil.ts
  front-end/src/utils/store.tsx
  front-end/src/utils/timer.ts
Labels: front-end, back-end

#202 방에서 발생한 버그 수정
  back-end/src/utils/socket/gameRoom.ts
  back-end/src/utils/socket/gameRoomVote.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Game/GameRoomSettings.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/Profile.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/recoilStore/globalAtom.tsx
  front-end/src/utils/getDataUtil.ts
  front-end/src/utils/socketUtil.ts
Labels: bug, front-end, back-end

#204 게임 방 발표 사이클 기능 추가
  back-end/src/utils/socket/gameRoom.ts
Labels: back-end

#207 게임 유저 퇴장/재입장 시 버블 채팅 박스 위치 수정
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/components/Lobby/RoomList.tsx
Labels: front-end

#209 5주차 라이어킹 프로젝트 배포
  .gitignore
  back-end/src/index.ts
  back-end/src/utils/socket/gameRoom.ts
  back-end/src/utils/socket/gameRoomVote.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/.env.development
  front-end/.env.production
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/Game/GameRoomSettings.tsx
  front-end/src/components/Game/GameTalk.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/Profile.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/recoilStore/globalAtom.tsx
  front-end/src/styles/Game.css
  front-end/src/utils/getDataUtil.ts
  front-end/src/utils/socketUtil.ts
Labels: front-end, back-end

#211 인게임 채팅 버그 수정
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/styles/Game.css
Labels: front-end

#212 5주차 배포 버그 수정
  back-end/src/database/seeds/word.seed.json
  back-end/src/utils/socket/gameRoom.ts
  front-end/.env.development
  front-end/.env.production
  front-end/src/styles/Game.css
Labels: front-end, back-end

#216 로그아웃 및 로그인 처리
  back-end/src/route/indexRouter.ts
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/src/components/Main/NoLoginButton.tsx
Labels: hotfix

#223 반응형 디자인 제작
  back-end/src/route/userRouter.ts
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/components/Game/GameContentResult.tsx
  front-end/src/components/Game/GameContentSelect.tsx
  front-end/src/components/Game/GameRoomSettings.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/styles/CreateRankModal.css
  front-end/src/styles/CreateRoomModal.css
  front-end/src/styles/ExplainRuleModal.css
  front-end/src/styles/Game.css
  front-end/src/styles/GameChatBox.css
  front-end/src/styles/GameRoomSettings.css
  front-end/src/styles/JoinButton.css
  front-end/src/styles/LightBulb.css
  front-end/src/styles/Lobby.css
  front-end/src/styles/LoginButton.css
  front-end/src/styles/Main.css
  front-end/src/styles/Modal.css
  front-end/src/styles/NoLoginButton.css
  front-end/src/styles/SearchRoomModal.css
  front-end/src/utils/socketUtil.ts
Labels: front-end, back-end

#224 마이크 on/off 이미지 추가
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/images/micOff.svg
  front-end/src/images/micOn.svg
Labels: front-end

#226 로비로 나오면 마이크 완전 꺼지도록 수정
  front-end/src/components/Game/GameTalk.tsx
Labels: fix

#229 게임 내 유저 알림 및 아이폰/아이패드 대응 배경색 적용
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Game/GameContentVote.tsx
  front-end/src/styles/CreateRoomModal.css
  front-end/src/styles/Game.css
  front-end/src/styles/GameRoomSettings.css
  front-end/src/styles/JoinButton.css
  front-end/src/styles/Lobby.css
  front-end/src/styles/LoginButton.css
  front-end/src/styles/NoLoginButton.css
  front-end/src/styles/SearchRoomModal.css
Labels: front-end

#230 버그 수정 및 반응형 개선
  README.md
  back-end/src/utils/socket/lobbyRoom.ts
  front-end/src/components/Game/GameButtons.tsx
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Game/GameContentVote.tsx
  front-end/src/components/Game/GamePersons.tsx
  front-end/src/components/Game/GameTalk.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/styles/CreateRoomModal.css
  front-end/src/styles/Game.css
  front-end/src/styles/GameRoomSettings.css
  front-end/src/styles/JoinButton.css
  front-end/src/styles/Lobby.css
  front-end/src/styles/LoginButton.css
  front-end/src/styles/NoLoginButton.css
  front-end/src/styles/SearchRoomModal.css
Labels: front-end, back-end
