Repository boostcampwm-2021/WEB17-LiarKing, pull requests merged in 2021-12, with the labels that each got.

#232 마이크 연결 해제 수정
  front-end/src/components/Game/GameTalk.tsx
Labels: fix

#233 전체적인 페이지 디자인 수정
  front-end/public/index.html
  front-end/src/components/Game/GameContentChat.tsx
  front-end/src/components/Lobby/LightBulb.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/styles/Game.css
  front-end/src/styles/JoinButton.css
  front-end/src/styles/LightBulb.css
  front-end/src/styles/LoginButton.css
  front-end/src/styles/NoLoginButton.css
Labels: front-end

#234 에러 수정
  back-end/package-lock.json
  back-end/package.json
  back-end/src/index.ts
  front-end/package-lock.json
  front-end/package.json
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/utils/socketUtil.ts
Labels: bug, fix

#238 모바일 url 스크롤 버그 수정 및 전구 애니메이션 수정
  front-end/public/index.html
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/styles/Game.css
  front-end/src/styles/LightBulb.css
Labels: front-end

#240 아이디, 방제목 '...' 처리
  front-end/src/styles/Game.css
  front-end/src/styles/Lobby.css
Labels: front-end

#241 6주차 3차 배포
  front-end/public/index.html
  front-end/src/App.test.tsx
  front-end/src/components/Lobby/CreateRoomModal.tsx
  front-end/src/components/Lobby/RoomList.tsx
  front-end/src/components/Main/JoinButton.tsx
  front-end/src/components/Main/LoginButton.tsx
  front-end/src/components/Main/NoLoginButton.tsx
  front-end/src/components/pages/Game.tsx
  front-end/src/components/pages/Main.test.tsx
  front-end/src/styles/Game.css
  front-end/src/styles/LightBulb.css
  front-end/src/styles/Lobby.css
Labels: bug, front-end, back-end

#245 body 태그 overflow-y 속성 부여
  front-end/src/styles/App.css
Labels: front-end

#249 게임 페이지 디자인 수정
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/styles/Game.css
Labels: front-end

#250 long-polling -> webSocket 변경 후 코드 변경
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/components/Game/GameContentSelect.tsx
  front-end/src/styles/GameChatBox.css
  front-end/src/utils/socketUtil.ts
Labels: front-end, back-end

#251 프로젝트 최종 배포
  back-end/src/utils/socket/gameRoom.ts
  front-end/src/components/Game/GameChatBox.tsx
  front-end/src/components/Game/GameContentSelect.tsx
  front-end/src/styles/Game.css
  front-end/src/styles/GameChatBox.css
  front-end/src/utils/socketUtil.ts
Labels: bug, front-end, back-end
